#welcome {
  padding: 5rem 1rem;
}

#welcome nav {
  background: #eeeeee;
  border-top: 1px solid #aaa; 
  position: absolute;
  bottom: 0;
  left: 0;
}

#welcome label {
  text-align: center;
  
  display: block;
  font-weight: bold;
  margin-bottom: 2rem;
}