html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  margin: 0;
  height: 100%;
}

.page {
  height: 100vh;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

#welcome {
  padding: 2rem 1rem;
}

.logo {
  width: 3rem;
  margin: 1rem auto;
  display: block;
}

#welcome label {
  text-align: center;
  
  display: block;
  font-weight: bold;
  margin-bottom: 2rem;
}

input[type="text"] {
  font-size: 16px;
  background: #eeeeee;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
  display: block;
  margin: 0 auto;
}

.bubble {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  clear: both;
  margin: 0 0 1rem;
}

.bot {
  background: #eeeeee;
  float: left;
}

.user {
  background: #2bbbbb;
  color: white;
  float: right;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer input {
  width: 100%;
}