html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  margin: 0;
  height: 100%;
}

.page {
  height: 100vh;
  position: relative;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

#welcome {
  padding: 5rem 1rem;
}

#welcome nav {
  background: #eeeeee;
  border-top: 1px solid #aaa;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo {
  width: 3rem;
  /* margin: 1rem auto; */
  margin: 0rem auto;
  display: block;
}

#welcome label {
  text-align: center;

  display: block;
  font-weight: bold;
  margin-bottom: 2rem;
}

input[type="text"] {
  font-size: 16px;
  background: #eeeeee;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
  display: block;
  margin: 0 auto;
}

.bubble {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  clear: both;
  margin: 0 0 1rem;
}

.bot {
  background: #eeeeee;
  float: left;
}

.user {
  background: #2bbbbb;
  color: white;
  float: right;
}



main {
  max-width: 28rem;
  margin: auto;
}

@media (min-width: 480px) {
  .bubble {
    max-width: 73%;
  }
}

.typing span {
  animation: opacity 1s infinite;
}

.typing span:nth-child(1) {
  animation-delay: 100ms;
}

.typing span:nth-child(2) {
  animation-delay: 200ms;
}

.typing span:nth-child(3) {
  animation-delay: 300ms;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: fadein 0.45s 1;
}

.swoosh {
  animation: swoosh 0.5s 1;
}

@keyframes swoosh {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

article {
  float: left;
  padding-bottom: 4rem;
  width: 100%;
}

footer {
  position: fixed;
  width: 100%;
  max-width : 28rem;
  bottom: 0;
  /* left: 0; */
}

footer input {
  width: 100%;
}
