.page {
  height: 100vh;
  position: relative;
  width: 100%;
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}


.logo {
  width: 3rem;
  margin: 0rem auto;
  display: block;
}



input[type="text"] {
  font-size: 16px;
  background: #eeeeee;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
  display: block;
  margin: 0 auto;
}



footer {
  position: fixed;
  width: 28rem;
  bottom: 0;
}

footer input {
  width: 100%;
}

main {
  max-width: 28rem;
  margin: auto;
}



