.bubble {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  clear: both;
  margin: 0 0 1rem;
}

.bot {
  background: #eeeeee;
  float: left;
}

.user {
  background: #2bbbbb;
  color: white;
  float: right;
}

.last {
  animation-iteration-count: 1;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 480px) {
  .bubble {
    max-width: 73%;
  }
}