.typing span {
  animation: opacity 1s infinite;
}

.typing span:nth-child(1) {
  animation-delay: 100ms;
}

.typing span:nth-child(2) {
  animation-delay: 200ms;
}

.typing span:nth-child(3) {
  animation-delay: 300ms;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}